{% extends 'full-window.html' %}

{% block title %}
    <title>Авторизация в личном кабинете OKB</title>
{% endblock %}

{% block form %}
    <form action="/login" method="post" class="form-signin">
      <a href="/">
        <img class="mb-4" src="/static/images/logo.png" alt="" width="72" height="72">
      </a>
      {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }} text-monospace mt-3 mb-3">{{ msg }}</div>
		{% endfor %}

      <h1 class="h3 mb-4 font-weight-normal">Авторизуйтесь пожалуйста</h1>
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Ваш email"
             required=""
             autofocus="">

      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required="">
      <div class="checkbox mb-3">

        <label>
          <input type="checkbox" name="rememberme" value="rememberme" checked> Запомнить меня
        </label>
      </div>
      <button class="btn btn-lg btn btn-danger btn-block mb-3" type="submit">Войти</button>
      <p class="small text-center text-gray-soft">Еще нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
      <p class="mt-5 mb-3 text-muted">© ГБУЗВО "Областная клиническая больница"</p>
    </form>
{% endblock %}