{% extends 'full-window.html' %}

{% block title %}
    <title>Авторизация в личном кабинете OKB</title>
{% endblock %}

{% block form %}
    <form action="" method="post" class="form-signin">
    {{ form.hidden_tag() }}
      <a href="/">
        <img class="mb-4" src="/static/images/logo.png" alt="" width="72" height="72">
      </a>

      <h1 class="h3 mb-4 font-weight-normal">Авторизуйтесь пожалуйста</h1>
	    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }} text-monospace mt-3 mb-3">{{ msg }}</div>
			{% endfor %}

      {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] %}
	      <p>{{ field.label(class="sr-only") }}
	      {% if field.errors %}
		        <span class="invalid-desc">
			        {% for e in field.errors %}
			          {{ e }}
			        {% endfor %}
		        </span>
		        {{ field(class="form-control invalid") }}
          {% else %}
            {{ field(class="form-control", placeholder="Пароль") }}
          {% endif %}
         </p>
      {% endfor %}

      <p>{{ form.remember.label() }} {{ form.remember(checked="checked") }}</p>
      <p>{{ form.submit(class="btn btn-lg btn btn-danger btn-block mb-3") }}</p>

      <p class="small text-center text-gray-soft">Еще нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
      <p class="mt-5 mb-3 text-muted">© ГБУЗВО "Областная клиническая больница"</p>
    </form>
{% endblock %}