{% extends 'full-window.html' %}

{% block title %}
<title>Регистрация в личном кабинете OKB</title>
{% endblock %}


{% block form %}

<form method="post" class="form-signin form-signin--register">
<a href="/">
<img class="mb-4" src="/static/images/logo.png" alt="" width="72" height="72">
</a>
<h1 class="h3 mb-4 font-weight-normal">Зарегистрируйтесь пожалуйста</h1>

		 {% for cat, msg in get_flashed_messages(True) %}
      <div class="flash {{ cat }} text-monospace mt-3 mb-3">{{ msg }}</div>
  {% endfor %}

<div class="alert alert-light mb-3 py-2 px-3 alert--docs">
	<legend class="alert-heading h6 text-left mb-3">Контактные данные</legend>
	<div class="form-row">
		<div class="col-md-6">
			<label for="name" class="sr-only">Ваше имя</label>
      <input type="text" id="name" name="name" value="" class="form-control mb-3" placeholder="Ваше имя" required>
		</div>
		<div class="col-md-6">
		  <label for="email" class="sr-only">Email address</label>
		  <input type="email" id="email" name="email" value="" class="form-control mb-3" placeholder="Email address" required>
    </div>
	</div>
</div>

<div class="alert alert-light mb-3 py-2 px-3 alert--docs">
	<div class="form-row">
	<legend class="alert-heading h6 text-left mb-3">Придумайте пароль - не менее 8 символов, английские буквы и цифры</legend>
		<div class="col-md-6">
			<label for="password" class="sr-only">Пароль</label>
	      <input type="password" id="password" name="password" value="" class="form-control" placeholder="Пароль" required>
		</div>
		<div class="col-md-6">
			<label for="password2" class="sr-only">Password</label>
			<input type="password" id="password2" name="password2" value="" class="form-control" placeholder="Подтверждение пароля"
			       required>
		</div>
	</div>
	<div class="form-row mt-3">
		<div class="col-md-12">
			<div class="form-check">
			  <input type="checkbox" class="form-check-input" id="ed_pass" value="ed_pass" required checked>
			  <label class="form-check-label" for="ed_pass">Я даю согласие на смену пароля (в случае утери)</label>
			</div>
		</div>
	</div>
</div>



<button class="btn btn-lg btn btn-danger btn-block mb-3" type="submit">Регистрация</button>
<p class="small text-center text-gray-soft">Уже зарегистрированы? <a href="/login">Войти</a></p>
<p class="mt-5 mb-3 text-muted">© ГБУЗВО "Областная клиническая больница"</p>
</form>
{% endblock %}