{% extends 'admin/base_admin.html' %}

{% block content %}
	<section class="admin-content__title">
		<a href="/">
			<img class="mb-4" src="/static/images/logo.png" alt="" width="72" height="72">
		</a>
		<h1 class="mb-4">Панель администратора</h1>
	</section>

	<form action="" method="post" class="form-signin">
			{% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }} text-monospace text-center mt-3 mb-3">{{ msg }}</div>
			{% endfor %}

			<h2 class="h3 mb-4 font-weight-normal text-center">Авторизуйтесь пожалуйста</h2>
      <label for="admin" class="sr-only">Administrator name</label>
      <input type="text" id="admin" name="admin" class="form-control mb-3" placeholder="Administrator name"
             required=""
             autofocus="">

      <label for="password" class="sr-only">Password</label>
      <input type="password" id="psw" name="psw" class="form-control mb-3" placeholder="Пароль" required="">

      <button class="btn btn-lg btn btn-danger btn-block mb-3" type="submit">Войти</button>
	</form>

{% endblock %}